#softskill {
  background-color: #ff26a4;
}

.skill-card {
  background-color: aqua;

}

#apropos{
  background-color: blueviolet;
}

#technologie {
  background-color: #ff00e6;
}

.contact{
  background-color: #53a562;
}

body{
  background-color: #fbfb48;
}
#realisation{
  background-color: #ff0019;
}

#navbar{
  background-color: darkorange;
}